# Project Settings
# ----------------
PROJECT_NAME="API Reliability Suite"
DEBUG=True
LOG_LEVEL=INFO

# Security (CHANGE THESE IN PROD!)
# ------------------------------
SECRET_KEY="change-me-to-a-secure-random-string"
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Observability
# -------------
# OTLP_ENDPOINT="http://localhost:4317"  # Uncomment to send traces to Jaeger/Tempo

# AI / LLM Keys (Set ONE of these to enable AI Log Analysis)
# --------------------------------------------------------
# GROQ_API_KEY="gsk_..."
# OPENAI_API_KEY="sk-..."
# GOOGLE_API_KEY="AIza..."
